html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
input#sketch {	float:left;
							height:3em;
						width:5.2em;}	
input#cloud {	float:left;
							height:3em;
						width:5.2em;}	